<?xml version="1.0"?>
<config>
    <modules>
        <Aitoc_Aitcheckout>
            <version>1.4.15</version>
			<platform>community</platform>
        </Aitoc_Aitcheckout>
    </modules>
    <frontend>
        <translate>
            <modules>
                <Aitoc_Aitcheckout>
                    <files>
                        <default>Aitoc_Aitcheckout.csv</default>
                    </files>
                </Aitoc_Aitcheckout>
            </modules>
        </translate>
        <routers>
            <aitcheckout>
                <use>standard</use>
                <args>
                    <module>Aitoc_Aitcheckout</module>
                    <frontName>aitcheckout</frontName>
                </args>
            </aitcheckout>
        </routers>
        <layout>
            <updates>
                <aitcheckout>
                    <file>aitcheckout.xml</file>
                </aitcheckout>
            </updates>
        </layout>
        <events>
            <controller_action_postdispatch_checkout_onepage_saveOrder>
                <observers>
                    <hss_save_order_onepage_aitcheckout>
                        <class>aitcheckout/order_observer</class>
                        <method>setResponseAfterSaveOrder</method>
                    </hss_save_order_onepage_aitcheckout>
                </observers>
            </controller_action_postdispatch_checkout_onepage_saveOrder>
            <controller_action_postdispatch_aitcheckout_onepage_saveOrder>
                <observers>
                    <aitcheckout_save_order_after>
                        <class>aitcheckout/order_observer</class>
                        <method>renderReviewBlockAfterAitSaveOrder</method>
                    </aitcheckout_save_order_after>
                </observers>
            </controller_action_postdispatch_aitcheckout_onepage_saveOrder>
            <customer_login>
                <observers>
                    <aitcheckout_customer_login>
                        <class>aitcheckout/observer</class>
                        <method>onCustomerLogin</method>
                    </aitcheckout_customer_login>
                </observers>
            </customer_login>
        </events>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Aitoc_Aitcheckout>
                    <files>
                        <default>Aitoc_Aitcheckout.csv</default>
                    </files>
                </Aitoc_Aitcheckout>
            </modules>
        </translate>
        <layout>
            <updates>
                <aitcheckout>
                    <file>aitcheckout.xml</file>
                </aitcheckout>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <aitcheckout>
                <class>Aitoc_Aitcheckout_Model</class>
                <resourceModel>aitcheckout_mysql4</resourceModel>
            </aitcheckout>
            <aitcheckout_mysql4>
                <class>Aitoc_Aitcheckout_Model_Mysql4</class>
                <entities>
                    <aitcheckout>
                        <table>aitcheckout</table>
                    </aitcheckout>
                </entities>
            </aitcheckout_mysql4>
            <checkout>
                <rewrite>
                    <type_onepage>Aitoc_Aitcheckout_Model_Rewrite_Checkout_Type_Onepage</type_onepage>
                </rewrite>
            </checkout>
            <core>
                <rewrite>
                    <url>Aitoc_Aitcheckout_Model_Rewrite_Core_Url</url>
                </rewrite>
            </core>
        </models>
        <resources>
            <aitcheckout_setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </aitcheckout_setup>
            <aitcheckout_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </aitcheckout_write>
            <aitcheckout_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </aitcheckout_read>
        </resources>
        <blocks>
            <aitcheckout>
                <class>Aitoc_Aitcheckout_Block</class>
            </aitcheckout>
            <checkout>
                <rewrite>
                    <onepage_payment_methods>Aitoc_Aitcheckout_Block_Rewrite_CheckoutOnepagePaymentMethods</onepage_payment_methods>
                </rewrite>
            </checkout>
            <paypal>
                <rewrite>
                    <iframe>Aitoc_Aitcheckout_Block_Rewrite_PaypalIframe</iframe>
                    <payflow_advanced_iframe>Aitoc_Aitcheckout_Block_Rewrite_PaypalPayflowAdvancedIframe</payflow_advanced_iframe>
                </rewrite>
            </paypal>
        </blocks>
        <helpers>
            <aitcheckout>
                <class>Aitoc_Aitcheckout_Helper</class>
            </aitcheckout>
        </helpers>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <aitcheckout>
                        <class>aitcheckout/observer</class>
                        <method>setDefaultShippingMethod</method>
                    </aitcheckout>
                </observers>
            </controller_action_layout_load_before>
            <controller_action_predispatch_checkout_onepage_index>
                <observers>
                    <aitcheckout>
                        <class>aitcheckout/observer</class>
                        <method>onPredispatchCheckoutOnepageIndex</method>
                    </aitcheckout>
                </observers>
            </controller_action_predispatch_checkout_onepage_index>
            <controller_action_predispatch_aitcheckout_customer_account_loginAjax>
                <observers>
                    <captcha>
                        <class>aitcheckout/customer_observer</class>
                        <method>checkCheckoutLoginCaptcha</method>
                    </captcha>
                </observers>
            </controller_action_predispatch_aitcheckout_customer_account_loginAjax>
            <controller_action_predispatch_aitcheckout_customer_account_forgotPasswordAjax>
                <observers>
                    <captcha>
                        <class>aitcheckout/customer_observer</class>
                        <method>checkCheckoutLoginCaptcha</method>
                    </captcha>
                </observers>
            </controller_action_predispatch_aitcheckout_customer_account_forgotPasswordAjax>
            <payment_method_is_active>
                <observers>
                    <aitcheckout>
                        <class>aitcheckout/observer</class>
                        <method>updateQuote</method>
                    </aitcheckout>
                </observers>
            </payment_method_is_active>
            <controller_action_predispatch_checkout_cart_index>
                <observers>
                    <aitcheckout>
                        <class>aitcheckout/observer</class>
                        <method>onPredispatchCheckoutCartIndex</method>
                    </aitcheckout>
                </observers>
            </controller_action_predispatch_checkout_cart_index>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <aitcheckout>
                        <class>aitcheckout/order_observer</class>
                        <method>onOnepageSaveOrderAfter</method>
                    </aitcheckout>
                </observers>
            </checkout_type_onepage_save_order_after>
            <sales_convert_quote_to_order>
                <observers>
                    <aitcheckout>
                        <class>aitcheckout/order_observer</class>
                        <method>onSalesOrderPlaceBefore</method>
                    </aitcheckout>
                </observers>
            </sales_convert_quote_to_order>
            <aitcheckout_save_order>
                <observers>
                    <giftmessage>
                        <type>model</type>
                        <class>giftmessage/observer</class>
                        <method>checkoutEventCreateGiftMessage</method>
                    </giftmessage>
                </observers>
            </aitcheckout_save_order>
            <controller_action_predispatch_sagepaysuite_payment_onepageSaveOrder>
                <observers>
                    <save_default_payment>
                        <type>model</type>
                        <class>aitcheckout/order_observer</class>
                        <method>beforeSagepaySaveOrder</method>
                    </save_default_payment>
                </observers>
            </controller_action_predispatch_sagepaysuite_payment_onepageSaveOrder>
            <controller_action_predispatch_customer_account_loginPost>
                <observers>
                    <aitcheckout>
                        <class>aitcheckout/customer_observer</class>
                        <method>onPredispatchCustomerAccountLoginPost</method>
                    </aitcheckout>
                </observers>
            </controller_action_predispatch_customer_account_loginPost>
            <controller_action_predispatch_customer_account_create>
                <observers>
                    <aitcheckout>
                        <class>aitcheckout/customer_observer</class>
                        <method>onPredispatchCustomerAccountLoginPost</method>
                    </aitcheckout>
                </observers>
            </controller_action_predispatch_customer_account_create>
            <core_block_abstract_to_html_before>
                <observers>
                    <aitcheckout_shipping_recollect>
                        <class>aitcheckout/observer</class>
                        <method>reloadShippingMethods</method>
                    </aitcheckout_shipping_recollect>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
    </global>
    <default>
        <checkout>
            <aitcheckout>
                <checkout_show_method>3</checkout_show_method>
                <design_type>0</design_type>
                <responsive>0</responsive>
                <show_title>1</show_title>
                <title_text>Checkout</title_text>
                <show_proceed_to_checkout_button>1</show_proceed_to_checkout_button>
                <conditions_mode>0</conditions_mode>
                <popup_width>640</popup_width>
                <popup_height>480</popup_height>
                <checkbox_behavior>0</checkbox_behavior>
            </aitcheckout>
        </checkout>
    </default>
</config>

<!--
/**
 * All-In-One Checkout v1.0.15 : All-In-One Checkout v1.0.15 (OPCB Unit)
 *
 * @category:    Aitoc
 * @package:     Aitoc_Aitcheckout / Aitoc_Aitcheckout
 * @version      1.0.15 - 1.4.15
 * @license:     jC7sr77MwqoHj2SDR8w4YXR3o3w7irXLNFUdRYpgyc
 * @copyright:   Copyright (c) 2015 AITOC, Inc. (http://www.aitoc.com)
 */
-->
