<?xml version="1.0" encoding="UTF-8"?>
<config>
   <sections>
        <admin>
            <groups>
                <general translate="label" module="aitpermissions">
                    <label>Advanced Permissions</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>105</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <showallproducts translate="Display All Products">
                            <label>Display All Products</label>
                            <comment>If this is set to "No", sub-admin will see only products from categories assigned to the sub-admin.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </showallproducts>
                        <showallcustomers translate="Show All Customers">
                            <label>Show All Customers</label>
                            <comment>If this is set to "No", sub-admin with restricted permissions will see customers from the website of the allowed store only.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </showallcustomers>
                        <allow_null_category translate="Show products without categories">
                            <label>Show products without categories</label>
                            <comment>If this is set to "No", sub-admin will not be able to see products that don’t have any category assigned. Only Super Admin will be able to see such products.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </allow_null_category>
                        <allowdelete translate="Allow Deletion">
                            <label>Allow deleting products, images, categories (Store View sub-admins)</label>
                            <comment>If this is set to "Yes", sub-admin with restricted permissions per Store View can delete products, product images or categories.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </allowdelete>
                        <allowdelete_perwebsite translate="Allow Deletion">
                            <label>Allow deleting products, images, categories (Website sub-admins)</label>
                            <comment>If this is set to "Yes", sub-admin with restricted permissions per Website can delete products, product images or categories.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </allowdelete_perwebsite>
                        <show_admin_on_product_grid translate="label">
                            <label>Show product owner login on Catalog product grid</label>
                            <comment></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_admin_on_product_grid>
                    </fields>
                </general>

                <su translate="label" module="aitpermissions">
                    <label>Product Approval</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>150</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <enable translate="label">
                            <label>Enable Product Approval</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enable>
                        <email translate="label">
                            <label>Use custom email for notifications</label>
                            <comment>If this field is empty, the notification will be sent to the standard admin sales e-mail.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </email>
                        <template translate="label">
                            <label>Email template</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>300</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </template>
                    </fields>
                </su>
                <sucategories translate="label" module="aitpermissions">
                    <label>Category Approval</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>160</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <enable translate="label">
                            <label>Enable Category Approval</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enable>
                        <email translate="label">
                            <label>Use custom email for notifications</label>
                            <comment>If this field is empty, the notification will be sent to the standard admin sales e-mail.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </email>
                        <template translate="label">
                            <label>Email template</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>300</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </template>
                    </fields>
                </sucategories>
            </groups>
        </admin>
    </sections>
</config>
<!--
/**
 * Advanced Permissions
 *
 * @category:    Aitoc
 * @package:     Aitoc_Aitpermissions
 * @version      2.10.9
 * @license:     bJ9U1uR7Gejdp32uEI9Z7xOqHZ5UnP25Ct3xHTMyeC
 * @copyright:   Copyright (c) 2015 AITOC, Inc. (http://www.aitoc.com)
 */
-->
