<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Aitoc_Aitunits>
            <version>1.0.11</version>
            <platform>community</platform>
        </Aitoc_Aitunits>
    </modules>
    
    
    <admin>
        <routers>
            <aitunits>
                <use>admin</use>
                <args>
                    <module>Aitoc_Aitunits</module>
                    <frontName>aitunits</frontName>
                </args>
            </aitunits>
        </routers>
        <fieldsets>
            <catalog_product_dataflow>
                <aitunits_allowed_qty_input>
                    <external>1</external>
                </aitunits_allowed_qty_input>
            </catalog_product_dataflow>
        </fieldsets>
    </admin>
    
    
    <frontend>
        <translate>
            <modules>
                <Aitoc_Aitunits>
                    <files>
                        <default>Aitoc_Aitunits.csv</default>
                    </files>
                </Aitoc_Aitunits>
            </modules>
        </translate>
        <layout>
            <updates>
                <aitunits>
                    <file>aitunits.xml</file>
                </aitunits>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch_adjgiftreg>
                <observers>
                    <aitunits_form_data_toregistry>
                        <type>singleton</type>
                        <class>aitunits/observer_form_data</class>
                        <method>toRegistry</method>
                    </aitunits_form_data_toregistry>
                </observers>
            </controller_action_predispatch_adjgiftreg>
            <aitunits_core_block_template_to_html_after>
                <observers>
                    <aitunits_adjgiftreg_div>
                        <type>singleton</type>
                        <class>aitunits/observer_block_replacer_adjgiftregdiv</class>
                        <method>replace</method>
                    </aitunits_adjgiftreg_div>
                    <aitunits_adjgiftreg_manage>
                        <type>singleton</type>
                        <class>aitunits/observer_block_replacer_adjgiftregmanage</class>
                        <method>replace</method>
                    </aitunits_adjgiftreg_manage>
                    <aitunits_adjgiftreg_popular>
                        <type>singleton</type>
                        <class>aitunits/observer_block_replacer_adjgiftregpopular</class>
                        <method>replace</method>
                    </aitunits_adjgiftreg_popular>
                    <aitunits_adjgiftreg_view>
                        <type>singleton</type>
                        <class>aitunits/observer_block_replacer_adjgiftregview</class>
                        <method>replace</method>
                    </aitunits_adjgiftreg_view>
                    <aitunits_adjnav_catalog_layer_view>
                        <type>singleton</type>
                        <class>aitunits/observer_block_replacer_adjnavcataloglayerview</class>
                        <method>replace</method>
                    </aitunits_adjnav_catalog_layer_view>
                    <aitunits_adjnav_catalogsearch_layer>
                        <type>singleton</type>
                        <class>aitunits/observer_block_replacer_adjnavcatalogsearchlayer</class>
                        <method>replace</method>
                    </aitunits_adjnav_catalogsearch_layer>
                    <aitunits_aitmanufacturers_product_list>
                        <type>singleton</type>
                        <class>aitunits/observer_block_replacer_aitmanufacturersproductlist</class>
                        <method>replace</method>
                    </aitunits_aitmanufacturers_product_list>
                    <aitunits_catalog_product_list>
                        <type>singleton</type>
                        <class>aitunits/observer_block_replacer_catalogproductlist</class>
                        <method>replace</method>
                    </aitunits_catalog_product_list>
                    <aitunits_catalog_product_price>
                        <type>singleton</type>
                        <class>aitunits/observer_block_replacer_catalogproductprice</class>
                        <method>replace</method>
                    </aitunits_catalog_product_price>
                    <aitunits_checkout_cart>
                        <type>singleton</type>
                        <class>aitunits/observer_block_replacer_checkoutcart</class>
                        <method>replace</method>
                    </aitunits_checkout_cart>
                    <aitunits_checkout_cart_item_renderer>
                        <type>singleton</type>
                        <class>aitunits/observer_block_replacer_checkoutcartitemrenderer</class>
                        <method>replace</method>
                    </aitunits_checkout_cart_item_renderer>
                    <aitunits_checkout_cart_item_renderer_configurable>
                        <type>singleton</type>
                        <class>aitunits/observer_block_replacer_checkoutcartitemrenderer_configurable</class>
                        <method>replace</method>
                    </aitunits_checkout_cart_item_renderer_configurable>
                    <aitunits_catalog_product_view_type_grouped>
                        <type>singleton</type>
                        <class>aitunits/observer_block_replacer_catalogproductviewtypegrouped</class>
                        <method>replace</method>
                    </aitunits_catalog_product_view_type_grouped>
                    <aitunits_wishlist_customer_wishlist>
                        <type>singleton</type>
                        <class>aitunits/observer_block_replacer_wishlistcustomerwishlist</class>
                        <method>replace</method>
                    </aitunits_wishlist_customer_wishlist>
                </observers>
            </aitunits_core_block_template_to_html_after>
            <aitunits_model_mark>
                <observers>
                    <aitunits_entity_marker_model_adjgiftregitem>
                        <type>singleton</type>
                        <class>aitunits/observer_entity_marker_model_adjgiftregitem</class>
                        <method>mark</method>
                    </aitunits_entity_marker_model_adjgiftregitem>
                </observers>
            </aitunits_model_mark>  
               
                
            <catalog_block_product_list_collection>
                <observers>
                    <aitunits_marker>
                        <type>singleton</type>
                        <class>aitunits/observer_entity_marker</class>
                        <method>catalogBlockProductListCollection</method>
                    </aitunits_marker>
                </observers>
            </catalog_block_product_list_collection>
            <checkout_cart_product_add_after>
                <observers>
                    <aitunits_product_qty_changer_addtocart>
                        <type>singleton</type>
                        <class>aitunits/observer_product_qty_changer_addtocart</class>
                        <method>change</method>
                    </aitunits_product_qty_changer_addtocart>
                </observers>
            </checkout_cart_product_add_after>
            <model_load_after>
                <observers>
                    <aitunits_entity_marker_model_adjgiftregitem>
                        <type>singleton</type>
                        <class>aitunits/observer_entity_marker_model_adjgiftregitem</class>
                        <method>mark</method>
                    </aitunits_entity_marker_model_adjgiftregitem>
                </observers>
            </model_load_after>
            <model_save_before>
                <observers>
                    <adjgiftreg_product_qty_changer_addtoregistry>
                        <type>singleton</type>
                        <class>aitunits/observer_product_qty_changer_addtoregistry</class>
                        <method>change</method>
                    </adjgiftreg_product_qty_changer_addtoregistry>
                </observers>
            </model_save_before>
            <!--<checkout_cart_product_add_after>
                <observers>
                    <aitunits_add_item_validate>
                        <type>singleton</type>
                        <class>aitunits/observer_product_qty_validation_checkoutcart_add</class>
                        <method>validate</method>
                    </aitunits_add_item_validate>
                </observers>
                <observers>
                    <aitunits_add_wishlist_item_validate>
                        <type>singleton</type>
                        <class>aitunits/observer_product_qty_validation_checkoutcart_add_fromwishlist</class>
                        <method>validate</method>
                    </aitunits_add_wishlist_item_validate>
                </observers>
            </checkout_cart_product_add_after>
            <checkout_cart_update_items_before>
                <observers>
                    <aitunits_update_item_validate>
                        <type>singleton</type>
                        <class>aitunits/observer_product_qty_validation_checkoutcart_update</class>
                        <method>validate</method>
                    </aitunits_update_item_validate>
                </observers>
            </checkout_cart_update_items_before>
            <wishlist_item_save_before>
                <observers>
                    <aitunits_add_item_validate>
                        <type>singleton</type>
                        <class>aitunits/observer_product_qty_validation_wishlistitem</class>
                        <method>validate</method>
                    </aitunits_add_item_validate>
                    <aitunits_update_item_validate>
                        <type>singleton</type>
                        <class>aitunits/observer_product_qty_validation_wishlistitem_update</class>
                        <method>validate</method>
                    </aitunits_update_item_validate>
                </observers>
            </wishlist_item_save_before>
            <sales_quote_product_add_after>
                <observers>
                    <aitunits_related_product>
                        <type>singleton</type>
                        <class>aitunits/observer_product_related</class>
                        <method>replaceQty</method>
                    </aitunits_related_product>
                </observers>
            </sales_quote_product_add_after>-->
        </events>
    </frontend>
    
    
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Aitoc_Aitunits>
                            <title>Aitunits Module</title>
                            <sort_order>10</sort_order>
                        </Aitoc_Aitunits>
                    </children>
                </admin>
            </resources>
        </acl>
        
        <events>
            <adminhtml_catalog_product_edit_tab_attributes_create_html_before>
                <observers>
                    <aitunits_add_atribute_button>
                        <type>singleton</type>
                        <class>aitunits/observer_block_replacer_adminhtml_catalogproductedittabattributescreate</class>
                        <method>replace</method>
                    </aitunits_add_atribute_button>
                </observers>
            </adminhtml_catalog_product_edit_tab_attributes_create_html_before>
        </events>
      
        <translate>
            <modules>
                <Aitoc_Aitunits>
                    <files>
                        <default>Aitoc_Aitunits.csv</default>
                    </files>
                </Aitoc_Aitunits>
            </modules>
        </translate>
        
        <layout>
            <updates>
                <aitunits>
                    <file>aitunits.xml</file>
                </aitunits>
            </updates>
        </layout>
        
    </adminhtml>
    
    
    <global>
        
        <blocks>
            <adjgiftreg>
                <rewrite>
                    <div>Aitoc_Aitunits_Block_Rewrite_AdjgiftregDiv</div>
                    <manage>Aitoc_Aitunits_Block_Rewrite_AdjgiftregManage</manage>
                    <popular>Aitoc_Aitunits_Block_Rewrite_AdjgiftregPopular</popular>
                    <view>Aitoc_Aitunits_Block_Rewrite_AdjgiftregView</view>
                </rewrite>
            </adjgiftreg>
            <adjnav>
                <rewrite>
                    <catalog_layer_view>Aitoc_Aitunits_Block_Rewrite_AdjnavCatalogLayerView</catalog_layer_view>
                    <catalogsearch_layer>Aitoc_Aitunits_Block_Rewrite_AdjnavCatalogsearchLayer</catalogsearch_layer>
                </rewrite>
            </adjnav>
            <aitmanufacturers>
                <rewrite>
                    <product_list>Aitoc_Aitunits_Block_Rewrite_AitmanufacturersProductList</product_list>
                </rewrite>
            </aitmanufacturers>
            <adminhtml>
                <rewrite>
                    <catalog_product_attribute_edit_tab_main>Aitoc_Aitunits_Block_Adminhtml_Rewrite_CatalogProductAttributeEditTabMain</catalog_product_attribute_edit_tab_main>
                </rewrite>
            </adminhtml>
            <catalog>
                <rewrite>
                    <product_list>Aitoc_Aitunits_Block_Rewrite_CatalogProductList</product_list>
                    <product_price>Aitoc_Aitunits_Block_Rewrite_CatalogProductPrice</product_price>
                    <product_view>Aitoc_Aitunits_Block_Rewrite_CatalogProductView</product_view>
                    <product_view_type_grouped>Aitoc_Aitunits_Block_Rewrite_CatalogProductViewTypeGrouped</product_view_type_grouped>
                </rewrite>
            </catalog>
            <checkout>
                <rewrite>
                    <cart>Aitoc_Aitunits_Block_Rewrite_CheckoutCart</cart>
                    <cart_item_renderer>Aitoc_Aitunits_Block_Rewrite_CheckoutCartItemRenderer</cart_item_renderer>
                    <cart_item_renderer_configurable>Aitoc_Aitunits_Block_Rewrite_CheckoutCartItemRendererConfigurable</cart_item_renderer_configurable>
                </rewrite>
            </checkout>
            <wishlist>
                <rewrite>
                    <customer_wishlist>Aitoc_Aitunits_Block_Rewrite_WishlistCustomerWishlist</customer_wishlist>
                </rewrite>
            </wishlist>
        </blocks>
        
        <models>
            <aitunits>
                <class>Aitoc_Aitunits_Model</class>
                <resourceModel>aitunits_mysql4</resourceModel>
            </aitunits>
            <aitunits_mysql4>
                <class>Aitoc_Aitunits_Model_Mysql4</class>
            </aitunits_mysql4>
            <adjgiftreg>
                <rewrite>
                    <item>Aitoc_Aitunits_Model_Rewrite_Adjgiftregitem</item>
                </rewrite>    
            </adjgiftreg>    
        </models>
        
        <resources>
            <aitunits_setup>
                <setup>
                   <module>Aitoc_Aitunits</module>
                </setup>
                <connection>
                   <use>core_setup</use>
                </connection>
            </aitunits_setup>
            
            <aitunits_write>
                <connection><use>core_write</use></connection>
            </aitunits_write>
            
            <aitunits_read>
                <connection><use>core_read</use></connection>
            </aitunits_read>
        </resources>
        
        <blocks>
            <aitunits>
                <class>Aitoc_Aitunits_Block</class>
            </aitunits>
        </blocks>
        
        <helpers>
            <aitunits>
                <class>Aitoc_Aitunits_Helper</class>
            </aitunits>
        </helpers>
        
        <eav_attributes>
            <catalog_product>
            	<aitunits_select_form>
            		<code>aitunits_select_form</code>
            		<locked_fields>
                        <is_global/>
                        <is_required/>
                        <is_unique/>
                        <is_configurable/>
                        <is_filterable/>
                        <is_filterable_in_search/>
                        <is_comparable/>
                        <is_searchable/>
                        <is_visible_in_advanced_search/>
                        <is_used_for_promo_rules/>
                        <is_visible_on_front/>
                        <used_in_product_listing/>
                        <used_for_sort_by/>
                        <apply_to/>
                        <frontend_class/>
                        <is_used_for_price_rules/>
                        <is_html_allowed_on_front/>
                    </locked_fields>
            	</aitunits_select_form>
                <!--<aitunits_allowed_qty_input>
                    <code>aitunits_allowed_qty_input</code>
                    <locked_fields>
                        <is_global/>
                        <is_required/>
                        <is_unique/>
                        <is_configurable/>
                        <is_filterable/>
                        <is_filterable_in_search/>
                        <is_comparable/>
                        <is_searchable/>
                        <is_visible_in_advanced_search/>
                        <is_used_for_promo_rules/>
                        <is_visible_on_front/>
                        <used_in_product_listing/>
                        <used_for_sort_by/>
                        <apply_to/>
                        <frontend_class/>
                        <is_used_for_price_rules/>
                        <is_html_allowed_on_front/>
                    </locked_fields>
                </aitunits_allowed_qty_input>-->
                <aitunits_allowed_qty_values>
                	<code>aitunits_allowed_qty_values</code>
                	<locked_fields>
                        <is_global/>
                        <is_required/>
                        <is_unique/>
                        <is_configurable/>
                        <is_filterable/>
                        <is_filterable_in_search/>
                        <is_comparable/>
                        <is_searchable/>
                        <is_visible_in_advanced_search/>
                        <is_used_for_promo_rules/>
                        <is_visible_on_front/>
                        <used_in_product_listing/>
                        <used_for_sort_by/>
                        <apply_to/>
                        <frontend_class/>
                        <is_used_for_price_rules/>
                        <is_html_allowed_on_front/>
                    </locked_fields>
                </aitunits_allowed_qty_values>
                <!--<aitunits_allowed_qty_beyond>
                	<code>aitunits_allowed_qty_beyond</code>
                	<locked_fields>
                        <is_global/>
                        <is_required/>
                        <is_unique/>
                        <is_configurable/>
                        <is_filterable/>
                        <is_filterable_in_search/>
                        <is_comparable/>
                        <is_searchable/>
                        <is_visible_in_advanced_search/>
                        <is_used_for_promo_rules/>
                        <is_visible_on_front/>
                        <used_in_product_listing/>
                        <used_for_sort_by/>
                        <apply_to/>
                        <frontend_class/>
                        <is_used_for_price_rules/>
                        <is_html_allowed_on_front/>
                    </locked_fields>
                </aitunits_allowed_qty_beyond>-->
                <aitunits_unit_enable>
                	<code>aitunits_unit_enable</code>
                	<locked_fields>
                        <is_global/>
                        <is_required/>
                        <is_unique/>
                        <is_configurable/>
                        <is_filterable/>
                        <is_filterable_in_search/>
                        <is_comparable/>
                        <is_searchable/>
                        <is_visible_in_advanced_search/>
                        <is_used_for_promo_rules/>
                        <is_visible_on_front/>
                        <used_in_product_listing/>
                        <used_for_sort_by/>
                        <apply_to/>
                        <frontend_class/>
                        <is_used_for_price_rules/>
                        <is_html_allowed_on_front/>
                    </locked_fields>
                </aitunits_unit_enable>
                <aitunits_unit_value>
                	<code>aitunits_unit_value</code>
                	<locked_fields>
                        <is_global/>
                        <is_required/>
                        <is_unique/>
                        <is_configurable/>
                        <is_filterable/>
                        <is_filterable_in_search/>
                        <is_comparable/>
                        <is_searchable/>
                        <is_visible_in_advanced_search/>
                        <is_used_for_promo_rules/>
                        <is_visible_on_front/>
                        <used_in_product_listing/>
                        <used_for_sort_by/>
                        <apply_to/>
                        <frontend_class/>
                        <is_used_for_price_rules/>
                        <is_html_allowed_on_front/>
                    </locked_fields>
                </aitunits_unit_value>
                <aitunits_unit_divider>
                	<code>aitunits_unit_divider</code>
                	<locked_fields>
                        <is_global/>
                        <is_required/>
                        <is_unique/>
                        <is_configurable/>
                        <is_filterable/>
                        <is_filterable_in_search/>
                        <is_comparable/>
                        <is_searchable/>
                        <is_visible_in_advanced_search/>
                        <is_used_for_promo_rules/>
                        <is_visible_on_front/>
                        <used_in_product_listing/>
                        <used_for_sort_by/>
                        <apply_to/>
                        <frontend_class/>
                        <is_used_for_price_rules/>
                        <is_html_allowed_on_front/>
                    </locked_fields>
                </aitunits_unit_divider>
                <aitunits_instock_qty_show>
                	<code>aitunits_instock_qty_show</code>
                	<locked_fields>
                        <is_global/>
                        <is_required/>
                        <is_unique/>
                        <is_configurable/>
                        <is_filterable/>
                        <is_filterable_in_search/>
                        <is_comparable/>
                        <is_searchable/>
                        <is_visible_in_advanced_search/>
                        <is_used_for_promo_rules/>
                        <is_visible_on_front/>
                        <used_in_product_listing/>
                        <used_for_sort_by/>
                        <apply_to/>
                        <frontend_class/>
                        <is_used_for_price_rules/>
                        <is_html_allowed_on_front/>
                    </locked_fields>
                </aitunits_instock_qty_show>
                <!--<aitunits_instock_qty_word_full>
                	<code>aitunits_instock_qty_word_full</code>
                	<locked_fields>
                        <is_global/>
                        <is_required/>
                        <is_unique/>
                        <is_configurable/>
                        <is_filterable/>
                        <is_filterable_in_search/>
                        <is_comparable/>
                        <is_searchable/>
                        <is_visible_in_advanced_search/>
                        <is_used_for_promo_rules/>
                        <is_visible_on_front/>
                        <used_in_product_listing/>
                        <used_for_sort_by/>
                        <apply_to/>
                        <frontend_class/>
                        <is_used_for_price_rules/>
                        <is_html_allowed_on_front/>
                    </locked_fields>
                </aitunits_instock_qty_word_full>-->
                <aitunits_instock_qty_word_high>
                	<code>aitunits_instock_qty_word_high</code>
                	<locked_fields>
                        <is_global/>
                        <is_required/>
                        <is_unique/>
                        <is_configurable/>
                        <is_filterable/>
                        <is_filterable_in_search/>
                        <is_comparable/>
                        <is_searchable/>
                        <is_visible_in_advanced_search/>
                        <is_used_for_promo_rules/>
                        <is_visible_on_front/>
                        <used_in_product_listing/>
                        <used_for_sort_by/>
                        <apply_to/>
                        <frontend_class/>
                        <is_used_for_price_rules/>
                        <is_html_allowed_on_front/>
                    </locked_fields>
                </aitunits_instock_qty_word_high>
                <aitunits_instock_qty_word_med>
                	<code>aitunits_instock_qty_word_med</code>
                	<locked_fields>
                        <is_global/>
                        <is_required/>
                        <is_unique/>
                        <is_configurable/>
                        <is_filterable/>
                        <is_filterable_in_search/>
                        <is_comparable/>
                        <is_searchable/>
                        <is_visible_in_advanced_search/>
                        <is_used_for_promo_rules/>
                        <is_visible_on_front/>
                        <used_in_product_listing/>
                        <used_for_sort_by/>
                        <apply_to/>
                        <frontend_class/>
                        <is_used_for_price_rules/>
                        <is_html_allowed_on_front/>
                    </locked_fields>
                </aitunits_instock_qty_word_med>
                <aitunits_instock_qty_word_low>
                    <code>aitunits_instock_qty_word_low</code>
                    <locked_fields>
                        <is_global/>
                        <is_required/>
                        <is_unique/>
                        <is_configurable/>
                        <is_filterable/>
                        <is_filterable_in_search/>
                        <is_comparable/>
                        <is_searchable/>
                        <is_visible_in_advanced_search/>
                        <is_used_for_promo_rules/>
                        <is_visible_on_front/>
                        <used_in_product_listing/>
                        <used_for_sort_by/>
                        <apply_to/>
                        <frontend_class/>
                        <is_used_for_price_rules/>
                        <is_html_allowed_on_front/>
                    </locked_fields>
                </aitunits_instock_qty_word_low>
            </catalog_product>
        </eav_attributes>
        
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <aitunits_select_form/>
                        <!--<aitunits_allowed_qty_input/>-->
                        <aitunits_allowed_qty_values/>
                        <!--<aitunits_allowed_qty_beyond/>-->
                        <aitunits_unit_enable/>
                        <aitunits_unit_value/>
                        <aitunits_unit_divider/>
                        <aitunits_instock_qty_show/>
                        <!--<aitunits_instock_qty_word_full/>-->
                        <aitunits_instock_qty_word_high/>
                        <aitunits_instock_qty_word_med/>
                        <aitunits_instock_qty_word_low/>                    
                    </product_attributes>
                </item>
            </quote>
        </sales>
        
    </global>
    
    <default>
        <cataloginventory>
            <aitunits>
                <select_form>0</select_form>
                <!--<allowed_qty_input>1</allowed_qty_input>-->
                <allowed_qty_values>1,2,5,10,20</allowed_qty_values>
                <!--<allowed_qty_beyond>0</allowed_qty_beyond>-->
                <unit_enable>0</unit_enable>
                <unit_value>item</unit_value>
                <unit_divider>per</unit_divider>
                <instock_qty_show>0</instock_qty_show>
                <!--<instock_qty_word_full>100</instock_qty_word_full>-->
                <instock_qty_word_high>60</instock_qty_word_high>
                <instock_qty_word_med>30</instock_qty_word_med>
                <instock_qty_word_low>10</instock_qty_word_low>
            </aitunits>
        </cataloginventory>
    </default>
    
</config>
<!--
/**
 * Product Units and Quantities
 *
 * @category:    Aitoc
 * @package:     Aitoc_Aitunits
 * @version      1.0.11
 * @license:     0JdTQfDMswel7fbpH42tkXIHe3fixI4GH3daX0aDVf
 * @copyright:   Copyright (c) 2015 AITOC, Inc. (http://www.aitoc.com)
 */
-->
