<?xml version="1.0"?>
<config>
    <modules>
        <Chili_Web2print>
             <version>1.1.8.2</version>
        </Chili_Web2print>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <web2print before="Mage_Adminhtml">Chili_Web2print_Adminhtml</web2print>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <web2print_pdf_update>
                <schedule><cron_expr>0,15,30,45 * * * *</cron_expr></schedule>
                <run><model>web2print/observer::cronUpdatePdfs</model></run>
            </web2print_pdf_update>
        </jobs>
    </crontab>
    <global>
        <models>
            <web2print>
            	<class>Chili_Web2print_Model</class>
                <resourceModel>web2print_mysql4</resourceModel>
            </web2print>
            <web2print_mysql4>
                <class>Chili_Web2print_Model_Mysql4</class>
                <entities>
                    <pdf>
                        <table>web2print_pdf</table>
                    </pdf>
                    <log>
                        <table>web2print_log</table>
                    </log>
                    <concept>
                        <table>web2print_concept</table>
                    </concept>
                </entities>
            </web2print_mysql4>
            <catalog_resource_eav_mysql4>
                <rewrite>
                    <product_collection>Chili_Web2print_Model_Resource_Product_Collection</product_collection>
                </rewrite>
            </catalog_resource_eav_mysql4>
            <sales>
                <rewrite>
                    <quote_item>Chili_Web2print_Model_Rewrite_Sales_Quote_Item</quote_item>
                </rewrite>
            </sales>
        </models>
        <blocks>
            <web2print>
                <class>Chili_Web2print_Block</class>
            </web2print>
            <catalog>
                <rewrite>
                    <product_list>Chili_Web2print_Block_Product_List</product_list>
                    <product_widget_new>Chili_Web2print_Block_Product_Widget_New</product_widget_new>
                </rewrite>
            </catalog>
            <adminhtml>
                <rewrite>
                    <sales_order_view_items_renderer_default>Chili_Web2print_Block_Adminhtml_Sales_Order_View_Items_Renderer_Default</sales_order_view_items_renderer_default>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <web2print>
                <class>Chili_Web2print_Helper</class>
            </web2print>
             <catalog>
                <rewrite>
                    <image>Chili_Web2print_Helper_Image</image>
                </rewrite>
            </catalog>
        </helpers>
        <resources>
            <web2print_setup>
                <setup>
                    <module>Chili_Web2print</module>
                    <class>Chili_Web2print_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </web2print_setup>
            <web2print_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </web2print_write>
            <web2print_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </web2print_read>
        </resources>
        <cache>
            <types>
                <chili_images translate="label,description" module="web2print">
                    <label>CHILI images</label>
                    <description>Cache of web2print document images</description>
                    <tags>chili_images</tags>
                </chili_images>
                
                <chili_forms translate="label,description" module="web2print">
                    <label>CHILI html forms</label>
                    <description>Cache of web2print forms</description>
                    <tags>chili_forms</tags>
                </chili_forms>
            </types>
        </cache>
        <events>
            <web2print_api_call_after>
                <observers>
                    <chili_web2print_api_call_log>
                        <class>web2print/observer</class>
                        <method>logApiCall</method>
                    </chili_web2print_api_call_log>
                </observers>
            </web2print_api_call_after>
        </events>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <chili_document_id />
                    </product_attributes>
                </item>
            </quote>
        </sales>
    </global>
    <frontend>
        <routers>
            <web2print>
                <use>standard</use>
                <args>
                    <module>Chili_Web2print</module>
                    <frontName>web2print</frontName>
                </args>
            </web2print>
        </routers>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <chili_web2print_cart_observer>
                        <type>singleton</type>
                        <class>Chili_Web2print_Model_Observer</class>
                        <method>setQuoteDocumentId</method>
                    </chili_web2print_cart_observer>
                </observers>
            </checkout_cart_product_add_after>
            <checkout_cart_product_update_after>
                <observers>
                    <chili_web2print_cart_observer>
                        <type>singleton</type>
                        <class>Chili_Web2print_Model_Observer</class>
                        <method>setQuoteDocumentIdAfterUpdate</method>
                    </chili_web2print_cart_observer>
                </observers>
            </checkout_cart_product_update_after>
            <sales_convert_quote_item_to_order_item>
                <observers>
                    <chili_web2print_quote_to_order>
                        <class>web2print/observer</class>
                        <method>convertQuoteItemToOrderItem</method>
                    </chili_web2print_quote_to_order>
                </observers>
            </sales_convert_quote_item_to_order_item>
            <sales_order_place_after>
            	<observers>
                	<chili_web2print_pdf_observer>
                    	<type>model</type>
                        <class>Chili_Web2print_Model_Observer</class>
                        <method>orderPlaceAfterCreatePdf</method>
                    </chili_web2print_pdf_observer>
                </observers>
            </sales_order_place_after>
            <controller_action_predispatch_sales_order_reorder>
                <observers>
                    <chili_web2print_reorder>
                        <class>web2print/observer</class>
                        <method>reorderPreDispatch</method>
                    </chili_web2print_reorder>
                </observers>
            </controller_action_predispatch_sales_order_reorder>    
        </events>
        <translate>
            <modules>
                <Chili_Web2print>
                    <files>
                        <default>Chili_Web2print.csv</default>
                    </files>
                </Chili_Web2print>
            </modules>
        </translate>
        <layout>
            <updates>
                <web2print>
                    <file>web2print.xml</file>
                </web2print>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
         <events>
             <sales_convert_order_to_quote>
                <observers>
                    <chili_web2print_order_to_quote>
                        <type>singleton</type>
                        <class>web2print/observer</class>
                        <method>convertOrderToQuote</method>
                    </chili_web2print_order_to_quote>
                </observers>
            </sales_convert_order_to_quote>
            <sales_convert_quote_item_to_order_item>
                <observers>
                    <chili_web2print_quote_to_order>
                        <class>web2print/observer</class>
                        <method>convertQuoteItemToOrderItemAdmin</method>
                    </chili_web2print_quote_to_order>
                </observers>
            </sales_convert_quote_item_to_order_item>
            <catalog_product_save_before>
                <observers>
                    <chili_web2print_prepare_product_save>
                        <class>web2print/observer</class>
                        <method>prepareProductSave</method>
                    </chili_web2print_prepare_product_save>
                </observers>
            </catalog_product_save_before>
        </events>
        <layout>
            <updates>
                <web2print>
                    <file>web2print.xml</file>
                </web2print>
            </updates>
        </layout>
        <menu>
            <web2print module="web2print">
                <title>CHILI Web2print</title>
                <sort_order>15</sort_order>
                <children>
                    <pdfexport module="web2print">
                        <title>PDF export</title>
                        <sort_order>0</sort_order>
                        <action>adminhtml/pdfs/index</action>           
                    </pdfexport>
                    <logs module="web2print">
                        <title>Logs</title>
                        <sort_order>1</sort_order>
                        <action>adminhtml/logs/index</action>           
                    </logs>
                </children>
            </web2print>
        </menu>
        <acl>
            <resources>
            	<all>
                    <title>Allow Everything</title>
            	</all>
                <admin>
                    <children>
                        <web2print translate="title">
                            <title>CHILI Web2print</title>
                            <children>
                                <pdfexport>
                                    <title>PDF export</title>
                                </pdfexport>
                                <logs>
                                    <title>Logs</title>
                                </logs>
                            </children>
                        </web2print>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <web2print>
                                            <title>Chili Web2Print</title>
                                        </web2print>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <web2print>
            <general>
                <cache>1</cache>
                <debug>0</debug>
                <logfile>chiliconnector.log</logfile>
            </general>
            <connection>
                <redirect_exception>1</redirect_exception>
                <exception_cms>no-route</exception_cms>
            </connection>
            <profiles>
                <cache_lifetime_images>3600</cache_lifetime_images>
                <preview_location>category,product_detail,cart,order</preview_location>
            </profiles>
            <editor_page>
                <cache_lifetime_editor>3600</cache_lifetime_editor>
                <simulate_workspace>0</simulate_workspace>
                <iframe_inversed_height>145</iframe_inversed_height>
            </editor_page>
            <pdf>
                <frontend_pdf_path>media/pdf/frontend/</frontend_pdf_path>
                <backend_pdf_path>media/pdf/backend/</backend_pdf_path>
            </pdf>
            <savepath>
                <default_location>quotes/%year%/%month%/</default_location>
                <final_location>orders/%year%/%month%/</final_location>
                <temp_location>temp/%year%/%month%/</temp_location>
                <concept_location>concepts/%year%/%month%/</concept_location>
            </savepath>
        </web2print>
    </default>
</config>
